<p id="notice"><%= notice %></p>

<h1>My Blog</h1>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <div class="post"><%= post.content %></div>
  <br>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
